@page
@model ProyectoIFK.Pages.ReporteTorneoModel

@{
    Layout = null;
}

    <button class="btn-print"
            onclick="window.print()">

        Imprimir / Guardar PDF

    </button>

<h1>RESULTADOS DE TORNEOS IFK</h1>

<table border="1" width="100%">

    <thead>
        <tr>
            <th>Torneo</th>
            <th>Fecha</th>
            <th>Sede</th>
            <th>Organizador</th>
        </tr>
    </thead>

    <tbody>

        @foreach(var torneo in Model.Torneos)
        {
            <tr>
                <td>@torneo.NombreEvento</td>

                <td>
                    @torneo.FechaEvento.ToString("dd/MM/yyyy")
                </td>

                <td>@torneo.Sede</td>

                <td>@torneo.Organizador</td>
            </tr>
        }

    </tbody>

</table>

<script>
    window.print();
</script>